* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: blanchedalmond;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  text-align: center;
  color: coral;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 50px;
  padding: 0;
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  height: 70vh; /* take full viewport height */
}

.square {
  background-color:#ffd50069 ;
  border: 2px solid brown;
  float: left;
  font-size: 60px;
  font-weight:normal;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}
.square:hover{
    cursor:grab;
     background-color:rgb(224, 243, 255); /* light gray highlight */
  transform: scale(1.1);   /* slight zoom-in */
  

}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


.reset{
    display: flex;
    background-color:darkblue;
    border-color:purple;
    border: 35px;
    color:white;
 justify-self: left;
    justify-content: end;

}
.reset:hover{
    cursor: pointer;
    background-color: blue;
   transform: scale(1.07);
}
.status {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* aligns text to left */
  color: white;
  background-color: darkred;
  height: 10vh;
  padding: 10px;
  margin-bottom: 5px;
}
.status:hover{
    transform: scale(1.08);
    background-color: black;
cursor:grab;
}